<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/book_cat" method="post">
        <h1>Welcome to the Bookshelf</h1>
        <div class="content">
            <div class="left-col">
                <img src="{{url_for('static', filename='images/book1.jpeg')}}" class=image alt="book1" />
            </div>
            <div class="right-col">
                <button type="submit" value="submit">BOOKSONLY</button>
            </div>
        </div>
    </form>
</body>

</html>