<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        h1 {
            border: 2px #eee solid;
            color: brown;
            text-align: center;
            padding: 10px;
        }
    </style>
</head>

<body>
    <form action="/sessionDisplay" method="post">
        <h1>Welcome to Python Programming Lab</h1>
        <div style="text-align:center">
            <label for="cursession">Enter the current Python programming session:</label>
            <input type="text" name="cursession">
            <input type="submit" value="Submit">
        </div>
    </form>
</body>

</html>