<!DOCTYPE html>
<html>

<head>
    <title>Product Categories</title>
    <link rel="stylesheet" href="{{ url_for('static',bfilename='css/style.css') }}">
</head>

<body>
    <h1>Product Categories</h1>
    <table border="1" align="center">
        <tr>
            <td>
                <a href="/category/Electronics">Electronics </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/category/Groceries">Electronics </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/category/Stationery">Electronics </a>
            </td>
        </tr>
    </table>

</body>
</html>