<!DOCTYPE html>
<html>

<head>
    <title>Inventory Items</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Inventory Items</h1>
    <table border="1" align="center">
        <tr>
            <th>Item Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        {% for item in inventory %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.category }}</td>
            <td>₦{{ item.price }}</td>
            <td>{{ item.quantity }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="/">
        Back to Home
    </a>

</body>

</html>