<!DOCTYPE html>
<html>

<head>
    <title>Order Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Order Summary</h1>
    <table border="1" align="center">
        <tr>
            <th>Customer</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>{{ customer }}</td>
            <td>{{ product }}</td>
            <td>{{ quantity }}</td>
            <td>{{ total }} </td>
        </tr>
    </table>

    <br>

    <a href="/">
        Back to Home
    </a>

</body>

</html>